ul#tasks {
  li {
    cursor: pointer;

    i.fa {
      margin-right: 10px;

      &.fa-square-o {
        display: inline-block;
      }

      &.fa-check-square-o {
        display: none;
      }
    }

    &.done {
      i.fa-square-o {
        display: none;
      }

      i.fa-check-square-o {
        display: inline-block;
      } 
    }
  }
}